<div  style=" text-align: right;">
  <button (click)="loggedOut()">Log Out</button>
</div>
<div style="text-align:center">
  
  <h2>{{title}}</h2> <!--string interpolation-->
  <h3 [style.color] ="fontColor">Parent</h3> <!--property bindind-->
<!--   <a class="button" routerLink="/demo">Demo</a><br><br>-->
   <button type="button"   [disabled]="canClick" (click)="sayMessage()">Trigger Alert Message</button> <br><br>
   <!--propertyandevent-->

   <input type="text" #input>
   <button (click)="onSubmit(input)">Submit</button>
 <!--<app-demo [message]="data"></app-demo>--> 
 <app-demo [message]="inputText" *ngIf="show" >
   <h3>Projected Content {{inputText}}</h3>
 </app-demo>
 <br><br>
 <button type="button" (click)="destroy()">Destroy</button>
 
 <h3>{{heading}}</h3>
  <!--<app-demo (headingEvent)="receiveMessage($event)"></app-demo>--> 
  <app-twoway-binding [(size)]="fontSize"></app-twoway-binding>
   </div>
